.description__wrapper  {
    background-color: rgba(211, 211, 211, 0.6);
    margin: 160px 0;
    padding: 80px 0;
}

.description__flex__container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 1100px;
    margin: 0 auto;
}

.description__text-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;

    margin: 140px 0 40px;
}

.description__text-paragraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.8;
}

.description__logo {
    height: 500px;
}