.recommendation__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.recommendation__author {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
}

.recommendation__book {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;

    text-shadow:0 0 1px black;
}


.recommendation__button-hover {
    font-family: "Montserrat", sans-serif;
    width: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    margin-top: 15px;

    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.recommendation__button-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.recommendation__button-hover:focus {
    outline: none;
}

.recommendation__button-hover.recommendation__button-color-7 {
    background-image: linear-gradient(to right, #6253e1, #a826b9, #A3A1FF, #b345f2);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.recommendation__flip__card__container {
    width: 40vw;

    perspective: 1000px;
}

.recommendation__flip__card {
    width: inherit;
    height: inherit;

    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

.recommendation__back__side__cmyVideo {
    width: 40vw;
    opacity: 0.8;

    border-radius: 10px;

    transform-style: preserve-3d;
    margin-bottom: 15px;

    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2), 0 18px 18px 0 rgba(0, 0, 0, 0.24);
}

.recommendation__card__front__wrapper {
    z-index: -1;
}



